# SPDX-FileCopyrightText: 2025 ETH Zurich and University of Bologna
#
# SPDX-License-Identifier: Apache-2.0

# Editor and OS files
*~
*#
*.vscode
.DS_Store

# Python
__pycache__
.venv/*
.mypy_cache
.ipynb_checkpoints/
**/*.egg*
*.pkl
*.data

# Build artifacts
build
dist
install/
compile_commands.json
toolchain/**/*/


# Node
package.json
package-lock.json
node_modules

# Documentation
docs/_autosummary
docs/_build
*.html
!docs/_templates/*
*.csv

# DeeployTest
DeeployTest/TestFiles/
DeeployTest/Tests/**/*.txt
DeeployTest/**/BUILD/*
DeeployTest/TEST_*/*
DeeployTest/deeployStates*/*
DeeployTest/DeeployState*
DeeployTest/testUtils/graphDebug.py
DeeployTest/Tests/**/pactIntegerizationProto
DeeployTest/Tests/**/quantlib
DeeployTest/Tests/**/*.py
DeeployTest/Tests/**/*.json
DeeployTest/Tests/**/generateTest.py
DeeployTest/out.txt

CHANGELOG_GEN.md

# Container Artifacts
.pyusbip/
.cache/
