*~
__pycache__
build
dist
**/*.egg*
*.vscode
.DS_Store
*.html
.ipynb_checkpoints/
*#
install/
*.pkl
*.data
*#
toolchain/**/*/
package.json
package-lock.json
.mypy_cache
node_modules

compile_commands.json

docs/_autosummary
docs/_build


DeeployTest/TestFiles/
DeeployTest/Tests/**/*.txt
DeeployTest/**/BUILD/*
DeeployTest/TEST_*/*
DeeployTest/deeployStates*/*
DeeployTest/DeeployState*
DeeployTest/testUtils/graphDebug.py
DeeployTest/Tests/**/pactIntegerizationProto
DeeployTest/Tests/**/quantlib
DeeployTest/Tests/**/*.py
DeeployTest/Tests/**/*.json
DeeployTest/Tests/**/generateTest.py
DeeployTest/out.txt
