# SPDX-FileCopyrightText: 2025 ETH Zurich and University of Bologna
#
# SPDX-License-Identifier: Apache-2.0

---
name: _select-env
"on":
  workflow_call:
    inputs:
      docker_image_deeploy:
        type: string
        required: true
    outputs:
      image:
        value: ${{ jobs.select.outputs.image }}
      runner:
        value: ${{ jobs.select.outputs.runner }}

jobs:
  select:
    runs-on: ubuntu-latest
    outputs:
      image: ${{ steps.set-docker-image.outputs.image }}
      runner: ${{ steps.set-runner.outputs.runner }}
    steps:
      - id: set-docker-image
        shell: bash
        run: |
          IMAGE="ghcr.io/runwangdl/deeploy:gap9"
          echo "image=${IMAGE}" >> "$GITHUB_OUTPUT"

      - id: set-runner
        shell: bash
        run: |
          if [[ "${{ github.repository }}" == "pulp-platform/Deeploy" ]]; then
            echo "runner=self-hosted" >> "$GITHUB_OUTPUT"
          else
            echo "runner=ubuntu-latest" >> "$GITHUB_OUTPUT"
          fi
