name: GitLabCI

on: 
  # push:
  # pull_request:
  workflow_dispatch:

jobs:
  gitlab-ci:
    runs-on: ubuntu-22.04
    steps:
      - name: Check Gitlab CI
        uses: pulp-platform/pulp-actions/gitlab-ci@v2
        # Skip on forks or pull requests from forks due to missing secrets.
        if: (github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository)
        with:
          domain: iis-git.ee.ethz.ch
          repo: github-mirror/Deeploy
          token: ${{ secrets.GITLAB_TOKEN }}